@model TwitterClone.Models.DashboardModel

@{
    ViewBag.Title = "Dashboard";
}
<div class="container-fluid">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<h3>My Twitter Clone</h3>*@
                @*<span>Welcome @Model.Person.FullName</span>*@
                @Html.ActionLink("My Twitter Clone", "Dashboard", "Login", new { query = Model.LoggedInUserId }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Dashboard", "Login", new { query = Model.LoggedInUserId }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Profile", "Profile", "Login", new { query = Model.LoggedInUserId })</li>
                    <li>@Html.ActionLink("Signout", "Login", "Login")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-12">
                        <h2>@Html.ActionLink("Welcome " + Model.Person.FullName, "Profile", "Login", new { query = Model.LoggedInUserId })</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "searchPersonForm", @class = "form-horizontal" }))
                        {
                            <p>Follow</p>
                            @Html.TextBox("searchPerson", "", new { @class = "form-control ", placeholder = "Search person" })
                        }
                    </div>
                </div>
                <hr />
                <br /><br />
                <div class="row">
                    <div class="col-12">
                        <p>Tweets </p><p>@Model.TweetCount.ToString().Trim()</p>
                        <p>Following </p><p>@Model.Following.ToString().Trim()</p>
                        <p>Followers </p><p>@Model.Followers.ToString().Trim()</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="jumbotron">
                <div class="row border-1">
                    <div class="col-12">
                        @using (Html.BeginForm("PostTweet", "Login", FormMethod.Post, new { @id = "tweetForm", @class = "form-horizontal" }))
                        {
                            <input type="hidden" value="@Model.LoggedInUserId" name="LoggedInUserId" />
                            <div class="form-group input-group-sm">
                                <div class="col-auto">
                                    <h3>What are you doing?</h3>
                                </div>
                            </div>
                            <div class="form-group input-group-sm">
                                <div class="col-auto">
                                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control ", placeholder = "What's happening?", @rows = 4, @cols = "200" })
                                    @Html.ValidationMessageFor(m => m.Message)
                                </div>
                            </div>
                            <div class="form-group input-group-sm">
                                <div class="col-auto">
                                    <button class="btn btn-info post-btn" type="submit">Post</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="row border-1">
                    <div id="tweet-results" class="col-12">
                        <div class="row">
                            <h3>Tweets</h3>
                        </div>
                        <div class="row">
                            <div class="col-auto">
                                <table class="table border-0 table-responsive">
                                    @foreach (var twe in Model.TweetList)
                                    {
                                        <tr>
                                            <td colspan="1">@twe.TweetUser</td>
                                            <td colspan="4">@twe.TweetMessage</td>
                                            <td colspan="1">@twe.TweetTime</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(function () {
            $(".post-btn").click(function () {
                $('#tweetForm').submit();
            });

            $('#tweetForm').submit(function (event) {
                var formData = $('#tweetForm').serialize();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("PostTweet", "Login")',
                    data: formData
                })
                    .done(function (data) {
                        $('#tweet-results').html("");
                        $('#tweet-results').html(data);
                });
                event.preventDefault();
            });

        });
    });
</script>

